body {
	background: #2cc0d3;
}
main {
	background: white;
	margin-top: 3px;
}
.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 200px;
	margin-right: 10px;
	text-align: center;
	color:white;
	background: #1F8B98;
	padding: 5px;
}
.tabs a span.active {
	background: #2cc0d3
}
.tabs a span:hover {
	color: white;
	text-decoration: underline;
}
.content {
	background: white;
	padding-bottom: 10px;
}

.content li{
	list-style: none;
	margin:  10px;
	padding-left: 5px;
	box-shadow: 0 0 0 10px #2cc0d3;
}

.content input {
	width: 85%;
	height: 36px;
	margin: 10px;
	font-family: Jura;
	text-align: justify;
	font-size:  24px;
	box-shadow: 0 0 0 10px #2cc0d3;
}

.addAppo {
	background: #2cc0d3;
	height: 30px;
	width: 730px;
	padding: 10px;
}

.addAppo select {
	float: left;
	width: 300px;
	height: 30px;
	margin-right: 10px;
}

.addAppo a {
	float: left;
	width: 100px;
	height: 22px;
	padding-top: 8px;
	padding-left: 10px;
	background: white;
}

.addAppo a.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    background: #8cdae4; /* цвет текста для нективной ссылки */
    color: #999;
}

/*
.content button {
	height: 40px;
	width: 11%;
	min-width: 90px;
	font-size: 16px;
	margin:10px;
	font-family: Ubuntu;
	background: white;
	box-shadow: 0 -3px 0 11px #2cc0d3;
}
*/
.link {
	display: inline-block;
	float: right;
	width: auto;
	height: 16px;
}
.linkRemove {
	display: inline-block;
	float: right;
	width: 65px;
	height: 16px;
	padding-left: 15px; 
}
.linkRemove:hover {
	background: red;
	color: white;
	text-decoration: none;
}
header nav {
	float: right;
	width: 300px;
	padding-top: 25px;
	padding-right: 40px;
}